<div *ngIf="info.token; else loggedOut">
  <div *ngIf="authority === 'admin'">
    <form method="post"  name="form" #f="ngForm">
      
      <table border="1" ng-table="documents" class="table table-striped">			
      <thead>
        <tr>
      <th>User</th>
      <th scope="col" sortable="title" (sort)="onSort($event)">Title</th>
      <th sortable="date" (sort)="onSort($event)">Date</th> 
      <th sortable="contractOwner" (sort)="onSort($event)">Contract Owner</th>
      <th sortable="contractTarget" (sort)="onSort($event)">Contract Target</th>
      <th sortable="dateEnd" (sort)="onSort($event)">Date End</th>
      <th>Edit</th>
      </tr>
      </thead>
      <tr *ngFor="let document of documents;let i=index">
      <td>{{document.user.name}}</td>
      <td>{{document.title}}</td>
      <td>{{document.date}}</td>
      <td>{{document.contractOwner}}</td>
      <td>{{document.contractTarget}}</td>
      <td>{{document.dateEnd}}</td>
      <td><a [routerLink]="['/show', document.id]" role="button" routerLinkActive="active">Show</a></td>
      </tr>
      </table>
      <nav aria-label="Page">
        <ul class="pagination">
         <li class="page-item" *ngFor="let p of pages; let i=index">
             <a class="page-link active" href="" (click)="setPage(i,$event)" [ngClass]="{'active':i==page}">{{i}}</a>
         </li>
        </ul>
      </nav>
      
    </form>
  </div>
  </div>
  <ng-template #admin>
    Please login.
  </ng-template>
  <ng-template #loggedOut>
    Dont have permision
  </ng-template>
